SETS

- a set is an unordered collection of data type that is iterable, mutable, and has no duplicate elements. 
Python's set class represents the mathematical notion of a set. this is based on a data structure known as a hash table

In [1]:
# defining an empty set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
type({4})

set

In [3]:
print(set([1,2,3,4,5,6,6]))

{1, 2, 3, 4, 5, 6}

In [4]:
set1={"avengers","ironman","hitman"}
set2={"avengers","ironman","hitman","hulk"}

set2.intersection_update(set1)

In [5]:
set2

{'avengers', 'hitman', 'ironman'}

In [7]:
set1={"avengers","ironman","hitman"}
set2={"avengers","ironman","hitman","hulk"}

In [8]:
set2.difference(set1)

{'hulk'}

In [9]:
set1={"avengers","ironman","hitman"}
set2={"avengers","ironman","hitman","hulk"}

In [10]:
set2.issuperset(set1)

True

Dictionaries
- A dictionary is a collection which is unordered, changeable and indexed,
In python dictionaries are written with curly brackets and they have key and values

In [11]:
dic={}

In [12]:
type(dic)

dict

In [13]:
type({})

dict

In [14]:
type({1: "risab"})

dict

In [15]:
dict(name="risav", age=21,last_name= "pyakurel")

{'name': 'risav', 'age': 21, 'last_name': 'pyakurel'}

In [19]:
dict={"car1":"audi", "car2":"toyota","car3":"BMW"}

In [18]:
type(dict)

set

In [20]:
dict["car1"]

'audi'

In [23]:
for x in dict.values():
    print(x)

audi
toyota
BMW

In [24]:
dict["car4"]="mercedes"

In [25]:
dict

{'car1': 'audi', 'car2': 'toyota', 'car3': 'BMW', 'car4': 'mercedes'}

Nested dictionary

In [27]:
car1_model= {'audi':1445}
car2_model={'toyota':445}
car3_model={'BMW':5556}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [28]:
print(car_type)

{'car1': {'audi': 1445}, 'car2': {'toyota': 445}, 'car3': {'BMW': 5556}}

In [29]:
car_type['car1']['audi']

1445

In [30]:
#Accessing the items in dictionary

Tuples

In [32]:
tuple()

()

In [33]:
type(tuple())

tuple

In [34]:
my_tuple =("hello")

In [35]:
my_tuple.count("hello")

1